body{
text-align: center;
background-color: cornflowerblue;
}

div{
margin-top: 15px;
}

.image-section{
display: flex;
justify-content: center;
}

.section-style{
margin-right: 25px;
margin-left: 25px;
background-color: cornflowerblue;
}

h1{
font-family: 'Lobster Two',cursive;
}

img{
width: 320px;
height: 220px;
}

h2{
font-size: 90px;
font-family: 'Lobster Two',cursive;
}

h3{
font-size: 90px;
font-family: 'Lobster Two',cursive;
}

h4{
font-size: 90px;
font-family: 'Lobster Two',cursive;
}

h5{
font-size: 90px;
font-family: 'Lobster Two',cursive;
}